:root {
    /* Define GDScript highlight.js colors */
    --background-color: #0e1012;
    --text-color: #ccced3;
    --symbol-color: #abc8ff;
    --keyword-color: #ff7085;
    --control_flow_keyword-color: #ff8ccc;
    --base_type-color: #42ffc2;
    --engine_type-color: #8effda;
    --comment-color: grey;
    --string-color: #ffeca1;
    --number-color: #a1ffe0;
    --function_definition-color: #66e6ff;
}

pre,
code,
code.hljs {
    background: var(--background-color);
    color: var(--text-color);
}

code.hljs .hljs-symbol {
    color: var(--symbol-color);
}

code.hljs .hljs-keyword {
    color: var(--keyword-color);
}

code.hljs .hljs-control_flow_keyword {
    color: var(--control_flow_keyword-color);
}

code.hljs .hljs-base_type {
    color: var(--base_type-color);
}

code.hljs .hljs-engine_type {
    color: var(--engine_type-color);
}

code.hljs .hljs-comment {
    color: var(--comment-color);
}

code.hljs .hljs-string {
    color: var(--string-color)
}

code.hljs .hljs-number {
    color: var(--number-color);
}

code.hljs .hljs-title {
    color: var(--function_definition-color);
}

code.hljs .hljs-name,
code.hljs .hljs-tag,
code.hljs .hljs-attr {
    color: var(--html-color);
}

code {
    margin: 20px;
    padding: 5px 20px;
    display: block;
    position: relative;
    font-size: 0.9em;
    text-align: initial;
    tab-size: 4;
    line-height: 2;
}

* {
    box-sizing: border-box;
}